@model UsuarioEdit
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}

<div id="@viewName">
	<!-- Scripts -->
	<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
	<script src="~/js/wizard.js"></script>
	<!-- Include wizard CSS -->
	<link href="~/css/bootstrap-nav-wizard.css" rel="stylesheet" type="text/css" />


	<!-- Plantilla que se utilizará en la columna de acciones de la grilla -->
	<div class="page-header">
		<h3><i class="fa fa-gear page-header-icon"></i>&nbsp;&nbsp;Crear usuario</h3>
	</div>
	<div class="container-fluid">
		<div class='row'>
			<div id="wizard" class="col-12">
				<ul class='nav nav-wizard'>
					<li class="active"><a href='#step1' data-toggle="tab"><b><i class="fa fa-user page-header-icon"></i> Datos basicos</b><br />asas</a></li>
					<li><a href='#step2' data-toggle="tab"><b><i class="fa fa-key page-header-icon"></i> Roles</b><br />asas</a></li>
					<li><a href='#step3' data-toggle="tab"><b><i class="fa fa-key page-header-icon"></i> Permisos</b><br />asas</a></li>
				</ul>
				<div id="myTabContent" class="tab-content ">
					<div class="tab-pane fade " id="step1">
						<div class="card">
							<div class="card-header">
								<strong>Datos de usuario</strong>
							</div>
							<div class="card-body">
								@Html.Partial("InsUsuario", new Usuario())
							</div>

							<div class="card-footer" style="display: flex; justify-content: flex-end;">
								<button class="btn btn-primary next-btn" type="button">Siguiente</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="step2">
						<div class="card">
							<div class="card-header">
								<strong>Roles de usuario</strong>
								<label class="float-right mt-2 mb-0">
									@Html.ActionLink("Nuevo", "AgregarUsuarioRole", "Usuarios", new { operacion = "Ins" }, new { @class = "btn btn-primary float-right", @data_modal = "modal-lg" })
								</label>
							</div>
							<div class="card-body">
								@Html.Partial("InsRolesUsuario", new Roles())
							</div>

							<div class="card-footer" style="display: flex; justify-content: flex-end;">
								<button class="btn btn-secondary prev-btn" type="button">Atras</button>
								<button class="btn btn-primary next-btn" type="button">Siguiente</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="step3">
						<div class="card">
							<div class="card-header">
								<strong>Permisos de usuario</strong>
								<label class="float-right mt-2 mb-0">
									@Html.ActionLink("Nuevo", "AgregarUsuarioPermiso", "Usuarios", new { operacion = "Ins" }, new { @class = "btn btn-primary float-right", @data_modal = "modal-lg" })
								</label>
							</div>
							<div class="card-body">
								@Html.Partial("InsPermisosUsuario", new Permisos())

							</div>

							<div class="card-footer" style="display: flex; justify-content: flex-end;">
								<button class="btn btn-secondary prev-btn" type="button">Atras</button>
									<a asp-action="Finish"  asp-controller="Usuarios"
									   data-ajax="true" 
									  data-ajax-begin="CrearUsuario.onFinish_Begin" 
									  data-ajax-success="CrearUsuario.onFinish_Success" 
									  data-ajax-method="POST"
									  class="btn btn-success">Crear</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Inicializadores -->
	<script>

		$("#wizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
			//alert("You are on step "+stepNumber+" now");
			if (stepPosition === 'first') {
				$("#prev-btn").addClass('disabled');
			} else if (stepPosition === 'final') {
				$("#next-btn").addClass('disabled');
			} else {
				$("#prev-btn").removeClass('disabled');
				$("#next-btn").removeClass('disabled');
			}
		});
		$(".next-btn").on("click", function () {

			// Navigate next
			$('#wizard').wizard("next");
			return true;
		});
		$(".prev-btn").on("click", function () {

			// Navigate next
			$('#wizard').wizard("prev");
			return true;
		});
		$("#reset-btn").on("click", function () {

			// Navigate next
			$('#wizard').wizard("reset");
			return true;
		});
        $(function () {
            @(viewName).init();
			$('#wizard').wizard({
				selected: 0,
				theme: 'default',
				transitionEffect: 'fade',
				showStepURLhash: false,
				toolbarSettings: {
					//toolbarPosition: 'none',
					toolbarButtonPosition: 'none',
					showPreviousButton: "false",
					showNextButton: "false"
				}
			});

        });

	</script>
</div>
