@model User
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}
@inject LocService SharedLocalizer
<section id=@viewName>
	<div class="card">
		<div class="card-header">
			<strong>@SharedLocalizer.GetLocalizedHtmlString("SUB_TITTLE_USER_DATA")</strong>
		</div>
		<div class="card-body">
			<form>
				<div class="form-group row">
					<div class="col-sm-6">
						@Html.LabelFor(m => m.PersonId)
						@(Html.Kendo().DropDownListFor(m => m.PersonId)
                                              .HtmlAttributes(new { style = "width: 100%;", required = "required", @class = "form-control" })
                                              .DataTextField("Documento")
                                              .DataValueField("Id")
                                              .OptionLabel("Seleccione...")
                                              .Filter("contains")
                                              .DataSource(source =>
                                              {
                                                  source.Ajax().Read(read =>
                                                  {
                                                      read.Action("GetListPersons", "Person", new { Area = "PARAM" });
                                                  }).Events(e => e.Error("Site.handleError"));

                                              })
						)
						@Html.ValidationMessageFor(m => m.PersonId)
					</div>

					<div class="col-sm-6">
						@Html.LabelFor(m => m.Username)
						@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Username)
					</div>

				</div>

				<div class="form-group row">
					<div class="col-sm-6">
						@Html.LabelFor(m => m.Active)
						@(Html.Kendo().DropDownListFor(m => m.Active)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .HtmlAttributes(new { style = "width: 100%;", required = "required", @class = "form-control" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetListEstados", "Usuarios");
                                                });
                                            }))
						@Html.ValidationMessageFor(m => m.Active)
					</div>
				</div>
			</form>
		</div>

		<div class="card-footer" style="display: flex; justify-content: flex-end;">
			<button class="btn btn-primary next-btn" type="button">@SharedLocalizer.GetLocalizedHtmlString("BUTON_NEXT")</button>
		</div>
	</div>
</section>

<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
<script>



	$(function () {
            @(viewName).init(eval("@ViewBag.Container"),"@Model.GetType().ToString()","@viewName" );
        });
</script>

