@model Usuario
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}

<section id=@viewName>
    <form>
        @Html.HiddenFor(m => m.Id)
       
        <div class="form-group row">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.PersonaId)
                @(Html.Kendo().DropDownListFor(m => m.PersonaId)
                  .HtmlAttributes(new { style = "width: 100%;" })
                  .DataTextField("Documento")
                  .DataValueField("Id")
                  .Filter("contains")

                  .DataSource(source =>
                  {

                      source.Ajax().Read(read =>
                      {
                          read.Action("GetListPersonas", "Personas", new { Area = "ADMIN" });
                      });

                  })
                )
                @Html.ValidationMessageFor(m => m.PersonaId)
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Activo)
                @(Html.Kendo().DropDownListFor(m => m.Activo)
                .DataTextField("Text")
                .DataValueField("Value")
                .OptionLabel("Seleccione...")
                .HtmlAttributes(new { style = "width: 100%;" })
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetListEstados", "Usuarios");
                    });
                }))
                @Html.ValidationMessageFor(m => m.Activo)
            </div>
        </div>
</form>
</section>

<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
<script>
	$(function () {
            @(viewName).init(eval("@ViewBag.Container"),"@Model.GetType().ToString()","@viewName" );
        });
</script>

