@model Permissions
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}
@inject LocService SharedLocalizer
<section id=@viewName>
	<form>
		<div class="card">
			<div class="card-header">
				<strong>@SharedLocalizer.GetLocalizedHtmlString("SUB_TITTLE_USER_PERMISSIONS")</strong>
				<label class="float-right mt-2 mb-0">
					@Html.ActionLink($"{@SharedLocalizer.GetLocalizedHtmlString("BUTON_REGISTER")}", "AgregarUsuarioPermiso", "Usuarios", new { operacion = "Upd" }, new { @class = "btn btn-primary float-right", @data_modal2 = "modal-lg" })
				</label>
			</div>
			<div class="card-body">
				<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
				<div class="text-center">
					@(Html.Kendo().Grid(Model.ListPermissions)
						.Name("GridPermisos")
						.Columns(columns =>
						{
							columns.Bound(p => p.Id).Hidden();
							columns.Bound(p => p.Description).Width(130);
							columns.Bound(p => p.Code).Width(130);
							columns.Bound(p => p.FullDescription).Width(130);
							columns.Bound(p => p.Active).Width(130);
							columns.Bound(p => p.Description).ClientTemplate(
								"<div class='text-center'>" +
								$"<button class='btn btn-danger' onclick='UpdPermisosUsuario.eliminarPermiso(event,#=data.Id#)'>{@SharedLocalizer.GetLocalizedHtmlString("BUTON_DELETE")}</button>" +
								"</div>"
								).Title($"{@SharedLocalizer.GetLocalizedHtmlString("LABEL_ACTIONS")}").Width(170).Filterable(false);
						})
						.Pageable()
						.Sortable()
						.Filterable(ftb => ftb.Mode(GridFilterMode.Row))
						.Scrollable(s=>s.Height("auto"))
						.Events(events => events.DataBound("Site.handleModal"))
						.DataSource(dataSource => dataSource
							.Ajax()
							.PageSize(5)
							.ServerOperation(false)
						)
					)
					<script>
				$(function () {
					@(viewName).init(eval("@ViewBag.Container"),"@Model.GetType().ToString()","@viewName" );
				});
					</script>
				</div>
			</div>

			<div class="card-footer" style="display: flex; justify-content: flex-end;">
				<button class="btn btn-secondary prev-btn" type="button">@SharedLocalizer.GetLocalizedHtmlString("BUTON_BACK")</button>
                <a asp-action="Finish" asp-controller="Usuarios"
                   data-ajax="true"
                   data-ajax-begin="ActualizarUsuario.onFinish_Begin"
                   data-ajax-success="ActualizarUsuario.onFinish_Success"
                   data-ajax-method="POST"
                   class="btn btn-success">@SharedLocalizer.GetLocalizedHtmlString("BUTON_UPDATE")</a>
			</div>
		</div>
	</form>
</section>




