@model Permisos

@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}


<section id=@viewName>
	<form>
		<div class="text-center">
			@(Html.Kendo().ListBox()
							.Name("optional2")
							.DataValueField("Id")
							.DataTextField("Nombre")
							.HtmlAttributes(new { @style = "width: 40%" })
							.Toolbar(toolbar =>
							{
								toolbar.Position(ListBoxToolbarPosition.Right);
								toolbar.Tools(tools => tools
									.TransferTo()
									.TransferFrom()
									.TransferAllTo()
									.TransferAllFrom()
								);
							})
							.ConnectWith("selected")
							.BindTo(Model.ListPermisos.Where(role => role.Activo == 0))
			)

			@(Html.Kendo().ListBox()
									.DataValueField("Id")
									.DataTextField("Nombre")
									.HtmlAttributes(new { @style = "width: 40%" })
									.Name("selected2")
									.BindTo(Model.ListPermisos.Where(role => role.Activo == 1))
									.Selectable(ListBoxSelectable.Multiple)
			)
		</div>
	</form>
</section>

<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
<script>
	$(function () {
            @(viewName).init(eval("@ViewBag.Container"),"@Model.GetType().ToString()","@viewName" );
        });
</script>

