@model Roles
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}

<!-- Plantilla que se utilizará en la columna de acciones de la grilla -->

<section id=@viewName>
	
	<form>
		<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
		<div class="text-center">
			@(Html.Kendo().Grid(Model.ListRoles)
								.Name("GridRoles")
								.Columns(columns =>
								{
									columns.Bound(p => p.Id).Hidden();
									columns.Bound(p => p.Nombre).Title("Nombre").Width(130);
									columns.Bound(p => p.Sigla).Title("Sigla").Width(130);
									columns.Bound(p => p.Descripcion).Width(130);
									columns.Bound(p => p.Activo).Width(130);
									columns.Bound(p => p.Nombre).ClientTemplate(
										"<div class='text-center'>" +
										"<button class='btn btn-danger' onclick='UpdRolesUsuario.eliminarRole(event,#=data.Id#)'>Eliminar</button>" +
										"</div>"
										).Title("Acción").Width(170).Filterable(false);
								})
									.HtmlAttributes(new { style = "height: 550px;" })
									.Pageable(pageable => pageable
										.Input(true)
										.Numeric(false)
										)
									.Sortable()
									.Scrollable(s => s.Height("auto"))
									.Pageable(p => p.Refresh(true))
									.Filterable()
									.DataSource(dataSource => dataSource
									.Ajax()
									.PageSize(20)
									.ServerOperation(false)
									)
			)
			<script>
				$(function () {
					@(viewName).init(eval("@ViewBag.Container"),"@Model.GetType().ToString()","@viewName" );
				});
			</script>
		</div>

	</form>
</section>




