@model Usuario
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}

<section id=@viewName>
	<form>
		@Html.HiddenFor(m => m.Id)
		<div class="form-group">
			@Html.LabelFor(m => m.Username)
			@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Username)
		</div>
	</form>
</section>

<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
<script>
	$(function () {
            @(viewName).init(eval("@ViewBag.Container"),"@Model.GetType().ToString()","@viewName" );
        });
</script>

