@{
    var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
    ViewBag.Tittle = "Rubros";
    ViewBag.IconTittle = "fa fa-money";
}

<div id="@viewName">
    <!-- Scripts -->
    <script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
    <!-- Plantilla que se utilizará en la columna de acciones de la grilla -->
    <script id="actionTemplate" type="text/x-kendo-template">
        <div class='text-center'>
            <a class='btn btn-primary' data-modal="modal-lg" href='@Url.Action("UpdRubro", "Rubros", new { area = "PARAM" })/#=data.Id#'>Editar</a>
        </div>
    </script>


    <div class="container-fluid ">

        <div class="card">
            <div class="card-header">
                <div class="h5 m-0">
                    Listado de rubros <label class="float-right mt-0 mb-0">
                        @Html.ActionLink("Registrar", "InsRubro", "Rubros", new { area = "PARAM" }, new { @data_modal = "modal-lg", @class = "btn btn-primary float-right" })
                    </label>
                </div>

            </div>
            <div class="card-body">
                @(Html.Kendo().Grid<Rubro>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.Id).Hidden();
                        columns.Bound(p => p.Codigo).Title("Código").Width(130);
                        columns.Bound(p => p.Descripcion).Title("Descripción").Width(130);
                        columns.Bound(c => c.Id).ClientTemplate("#=Index.actionTemplate(data)#").Title("Acciones").Filterable(false).Width(130);
                    })
                    .Pageable()
                    .Sortable()
                    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                    .Scrollable()
                    .Events(events => events.DataBound("Site.handleModal"))
                    .HtmlAttributes(new { style = "height:550px;" })
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("GetListRubros", "Rubros"))
                        .Events(e => e.Error("Site.handleError"))
                    )
                )
            </div>
        </div>
    </div>
    <!-- Inicializadores -->
    <script>
        $(function () {
            @(viewName).init();
        });

    </script>
</div>
