<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>@ViewBag.Tittle</title>

    <link rel="stylesheet" href="~/css/vendors.all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jupiter.all.min.css" asp-append-version="true" />
    <script src="~/js/jquery.all.min.js" asp-append-version="true"></script>
    <script src="~/js/kendo.all.min.js" asp-append-version="true"></script>
    <script src="~/js/app/PreSite.js" asp-append-version="true"></script>
    @RenderSection("Styles", required: false)
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    @Html.PartialAsync("_AppHeader").Result
    <div class="wrapper">
        @Html.PartialAsync("_SidebarNav").Result
        
        <div class="content">
            <div class="page-header">
                <h2><i class="@ViewBag.IconTittle"></i> @ViewBag.Tittle</h2>
            </div>
            <div class="content fadeIn animated">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Modals -->
    <div id="modal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="modal2" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script src="~/js/metisMenu.min.js" asp-append-version="true"></script>
    <script src="~/js/app/Site.min.js" asp-append-version="true"></script>
    <script>
        Site.init();
    </script>
    
    <script src="~/js/vendors.all.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
