<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>@ViewData["Title"] - CoreUI.Web</title>

    <link href="~/vendors/css/sweetalert.min.css" rel="stylesheet">
    <link href="~/vendors/css/animate.min.css" rel="stylesheet">
    <link href="~/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/kendo.all.min.css" asp-append-version="true" />

    <script src="~/js/jquery.all.min.js" asp-append-version="true"></script>
    <script src="~/js/kendo.all.min.js" asp-append-version="true"></script>
    <script src="~/js/app/PreSite.js"></script>


    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" />


    @RenderSection("Styles", required: false)
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
	@Html.Partial("_AppHeader")
	<div class="app-body">
		<div class="sidebar">
			@Html.Partial("_SidebarNav")
			<button class="sidebar-minimizer brand-minimizer" type="button"></button>
		</div>
		<main class="main fadeIn animated">
			@RenderBody()
		</main>
		@*@Html.Partial("_AsideMenu")*@
	</div>
	<footer class="app-footer">
		<span><a href="http://coreui.io">CoreUI</a> © 2017 creativeLabs.</span>
		<span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span>
	</footer>

	<!-- Modals -->
	<div id="modal" class="modal fade in">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>
		</div>
	</div>

	<div id="modal2" class="modal fade in">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>
		</div>
	</div>

	<script src="~/vendors/js/sweetalert.min.js"></script>
	<script src="~/vendors/js/popper.min.js"></script>
	<script src="~/vendors/js/bootstrap.min.js"></script>
	<script src="~/vendors/js/pace.min.js"></script>

	<script src="~/js/app/coreUi.js"></script>
	<script src="~/js/app/Site.js"></script>

	@RenderSection("Scripts", required: false)
	<script>
        $.validator.setDefaults({
            //ignore: [],
            highlight: function (element, errorClass) {
                element = $(element);
                if (element.parent().hasClass("k-widget")) {
                    element.parent().addClass('input-validation-error2');
                } else {
                    element.addClass('input-validation-error')
                }
            },
            unhighlight: function (element, errorClass) {
                element = $(element);
                if (element.parent().hasClass("k-widget")) {
                    element.parent().removeClass('input-validation-error2');
                } else {
                    element.removeClass('input-validation-error')
                }
            }
        });
        $(function () {
            
			Site.init();
		});
	</script>
</body>
</html>
