@model Student
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}
@inject LocService SharedLocalizer
<section id=@viewName>
    <form>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.InstitutionId)
        @Html.HiddenFor(m => m.PersonId)
        <div class="card">
            <div class="card-header">
                <strong>@SharedLocalizer.GetLocalizedHtmlString("SUB_TITTLE_USER_DATA")</strong>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.AcademicGradeId)
                        @Html.TextBoxFor(m => m.AcademicGradeId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AcademicGradeId)
                    </div>

                </div>


            </div>

            <div class="card-footer" style="display: flex; justify-content: flex-end;">
                <button class="btn btn-secondary prev-btn" type="button">@SharedLocalizer.GetLocalizedHtmlString("BUTON_BACK")</button>
                <a asp-action="FinishUpdate" asp-controller="Student"
                   data-ajax="true"
                   data-ajax-begin="UpdateStudent.onFinish_Begin"
                   data-ajax-success="UpdateStudent.onFinish_Success"
                   data-ajax-method="POST"
                   class="btn btn-success">@SharedLocalizer.GetLocalizedHtmlString("BUTON_UPDATE")</a>
            </div>
        </div>

    </form>
</section>

<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
<script>
	$(function () {
            @(viewName).init(eval("@ViewBag.Container"),"@Model.GetType().ToString()","@viewName" );
        });
</script>

