@model Core.Models.PARAM.Program
@{
    var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}
@inject LocService SharedLocalizer
<section id=@viewName>
    <form asp-controller="Program" asp-action="UpdProgram" data-ajax="true" data-ajax-method="POST" data-ajax-success="@(viewName).onSuccess">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.InstitutionId)
        <div class="card">
            <div class="modal-header">
                <h4 class="modal-title">@SharedLocalizer.GetLocalizedHtmlString("MODAL_TITTLE_INS_PROGRAM")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Code)
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Code)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Active)
                        @(Html.Kendo().DropDownListFor(m => m.Active)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .HtmlAttributes(new { style = "width: 100%;", required = "required", @class = "form-control" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetListEstados", "Usuarios", new { Area = "SEG"});
                                            });
                                        }))
                        @Html.ValidationMessageFor(m => m.Active)
                    </div>
                </div>



            </div>
            <div class="modal-footer display: flex; -ms-flex-pack: end; justify-content: flex-end;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("BUTON_CLOSE")</button>
                <button type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("BUTON_SAVE")</button>
            </div>
        </div>
    </form>
</section>

<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
<script>
	$(function () {
            @(viewName).init();
        });
</script>



