@model Cargo
@{
    var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}

<section id=@viewName>
    <form asp-controller="Cargos" asp-action="UpdCargo" data-ajax="true" data-ajax-method="POST"  data-ajax-success="@(viewName).onSuccess">
        @Html.HiddenFor(m => m.Id)
        <div class="card">
            <div class="modal-header">
                <h4 class="modal-title">Actualizar dependencia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="card-body">
                @Html.HiddenFor(m => m.Id)
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationMessage("Error")
                    </div>
                }
                <div class="form-group row">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Codigo)
                        @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Codigo)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Descripcion)
                        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Descripcion)
                    </div>
                </div>
            </div>
            <div class="modal-footer display: flex; -ms-flex-pack: end; justify-content: flex-end;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</section>

<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
<script>
	$(function () {
            @(viewName).init();
        });
</script>



