@model ProyectoRubro
@{
    var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}

<section id=@viewName>
   <form asp-controller="Proyectos" asp-action="InsRubroProyecto" data-ajax="true" data-ajax-method="POST" data-ajax-success="@(viewName).onSuccess">
    <div class="modal-header">
        <h4 class="modal-title">Actualizar rubro</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
        

            <div class="modal-body">
                <input  id="Id" name="Id" type="hidden" value="0">
                @Html.HiddenFor(m => m.ProyectoId)
                <div class="form-group row">
                    
                    <div class="col-sm-6">
                        
                        @Html.LabelFor(m => m.RubroId)
                        @(Html.Kendo().DropDownListFor(m => m.RubroId)
                              .HtmlAttributes(new { style = "width: 100%;", @class = "form-control" })
                              .DataTextField("Descripcion")
                              .DataValueField("Id")
                              .OptionLabel("Seleccione...")
                              .Filter("contains")
                              .DataSource(source =>
                              {
                                  source.Ajax().Read(read =>
                                  {
                                      read.Action("GetListRubros", "Rubros", new { Area = "PARAM" });
                                  }).Events(e => e.Error("Site.handleError"));

                              })
                        )
                        @Html.ValidationMessageFor(m => m.RubroId)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Valor)
                        @(Html.Kendo().NumericTextBoxFor<int>(m => m.Valor)
                                .Format("c0")
                                .Min(0)
                                .HtmlAttributes(new { style = "width: 100%", title = "currency" })
                          )
                        @Html.ValidationMessageFor(m => m.Valor)
                    </div>

                </div>

            </div>
            <div class="card-footer" style="display: flex; justify-content: flex-end;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
       
    </form>
</section>
<script>
    var operationTypeEnum = @(Html.EnumToString<OperationType>())
</script>
<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
<script>$(function() {
        @(viewName).init(eval("@ViewBag.Container"), "@Model.GetType().ToString()", "@viewName");
});</script>
