@model Proyecto
@{
    var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}

<section id=@viewName>
    <form>
        @Html.HiddenFor(m => m.Id)
        <div class="card">
            <div class="card-header">
                <strong>Datos de usuario</strong>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Codigo)
                        @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Codigo)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Descripcion)
                        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Descripcion)
                    </div>
                </div>

            </div>
            <div class="card-footer" style="display: flex; justify-content: flex-end;">
                <button class="btn btn-primary next-btn" type="button">Siguiente</button>
            </div>
        </div>
    </form>
</section>
<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
<script>$(function() {
        @(viewName).init(eval("@ViewBag.Container"), "@Model.GetType().ToString()", "@viewName");
});</script>
